.git
.idea
.pytest_cache
priv
data
doc
task

**/.venv
**/__pycache__
**/.pytest_cache
**/node_modules
**/.vite
**/dist
**/build
**/coverage
**/reports
**/instance

src/backend/.env
src/frontend/.env

*.pyc
*.pyo
*.log
