Flask==3.1.0
Flask-Cors==5.0.1
Flasgger==0.9.7.1
Werkzeug==3.1.8
SQLAlchemy==2.0.38
PyMySQL==1.1.1
python-dotenv==1.0.1
gunicorn==23.0.0
pytest==8.3.5
pytest-flask==1.3.0
pytest-mock==3.14.0
pytest-cov==6.0.0
